[Unit]
Description=Check Swartzit for a safe release update

[Timer]
OnCalendar=*-*-* 04:15:00
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
